.input {
  width: calc(100% - 20px);
  outline: none;
  border-radius: 5px;
  padding: 6px 10px 4px;
  color: #D15549;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #497fc5;
  box-shadow: inset 0 2px 0 rgba(0,0,0,.1), 1px 1px 0 rgba(0, 0, 0, 0.05);
}