
.autocomplete-list  {
    margin: 0px;
    padding: 0px;
    li {
        list-style-type: none;
        margin: 0px 0px 2px 0;
        span {
            height:30px;
            border-bottom: solid 1px #000;
            cursor: pointer;
            background: #eee;
        }
    }
}