.weather-period {
  position: relative;
  transition: height .3s;
  overflow: hidden;
  &__date {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    margin-right: 12px;
    vertical-align: middle;
  }
  &__hide {
    height: 0 !important;
  }
  &__wrapper {
    padding: 10px 15px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    line-height: 1.2;
    &:first-child {
      border-top: none;
    }
  }
  &__icon {
    display: inline-block;
    margin-top: 5px;
    vertical-align: middle;
    margin-right: 5px;
  }
  &__temperature {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    color: #D15549;
  }
  &__summary {
    vertical-align: middle;
    display: inline-block;
    width: 210px;
    margin-left: 10px;
  }

}